# Ignore Mac system files
.DS_store

# Logs
logs
*.log

# Ignore node_modules folder
node_modules

# csv files
*.csv

# databases
mongodb
cassandra

# coverage
coverage
coverage1

# test folder
__tests__

# postgresql login
config

newrelic.js
